.main {
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertical center */
  height: 100vh;
  padding: 20px;
}

.leftSide {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* space between buttons */
}

.pibbleZone {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pibbleImg {
  width: 200px;
  height: auto;
  justify-content: center;
}


.rightSide {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* must include px */
  align-items: flex-start;
  justify-content: flex-start;
}